In [292]:
import pandas as pd

pd.set_option('display.max_rows', 550)
pd.set_option('display.max_columns', 40)
pd.set_option('display.max_colwidth', 200)

In [293]:
#1

tweets = pd.read_csv('GetOldTweets3-master-1/output_got.csv')

#remove unnecessary columns
tweets = tweets.drop(columns = ['to', 'geo', 'mentions'])
tweets.tail(1)

# GetOldTweets3 --querysearch "Bitcoin" --since 2018-02-01 --until 2018-02-05 --lang en

,date,username,retweets,favorites,text,hashtags,id,permalink
227094,2018-02-01 00:00:00,XSBlockChain,1,2,"BREAKING NEWS: #Gold is 'too heavy and too slow to replace #Bitcoin ', Claims World #Bitcoin Council",#Gold #Bitcoin #Bitcoin,958852394447597568,https://twitter.com/XSBlockChain/status/958852394447597568

In [294]:
#2

tweets = pd.read_csv('GetOldTweets3-master-2/output_got.csv')

#remove unnecessary columns
tweets = tweets.drop(columns = ['to', 'geo', 'mentions'])
tweets.tail(1)

# GetOldTweets3 --querysearch "Bitcoin" --since 2017-03-01 --until 2017-03-28 --lang en

,date,username,retweets,favorites,text,hashtags,id,permalink
53033,2017-03-28 12:24:37,bizonacci,0,0,Beyond Bitcoin : Discovering FinTech's Potential http:// dlvr.it/Nl6pNV #TradeGoX,#TradeGoX,846699546184892416,https://twitter.com/bizonacci/status/846699546184892416

In [295]:
#3

tweets = pd.read_csv('GetOldTweets3-master-3/output_got.csv')

#remove unnecessary columns
tweets = tweets.drop(columns = ['to', 'geo', 'mentions'])
tweets.tail(1)

# GetOldTweets3 --querysearch "Bitcoin" --since 2017-12-01 --until 2017-12-02 --lang en

,date,username,retweets,favorites,text,hashtags,id,permalink
65872,2017-12-01 00:00:00,BTCBillionsBot,0,0,This just in: Bitcoin is rising! Current Rate: 9991.46 USD = 1 BTC,NaN,936384347220926466,https://twitter.com/BTCBillionsBot/status/936384347220926466

In [298]:
#4

tweets = pd.read_csv('GetOldTweets3-master-4/output_got.csv')

#remove unnecessary columns
tweets = tweets.drop(columns = ['to', 'geo', 'mentions'])
tweets.tail(1)

# GetOldTweets3 --querysearch "Bitcoin" --since 2018-01-01 --until 2018-01-07 --lang en

,date,username,retweets,favorites,text,hashtags,id,permalink
506099,2018-01-07 23:01:03,TV_TradingIdeas,1,2,Bitcoin gold bullish ascending triangle $BTGUSD http://www. tradingview.com/chart/BTGUSD/H LoqVV8q-Bitcoin-gold-bullish-ascending-triangle/ …,NaN,950140253745983488,https://twitter.com/TV_TradingIdeas/status/950140253745983488

In [297]:
#5

tweets = pd.read_csv('GetOldTweets3-master-5/output_got.csv')

#remove unnecessary columns
tweets = tweets.drop(columns = ['to', 'geo', 'mentions'])
tweets.tail(1)

# GetOldTweets3 --querysearch "Bitcoin" --since 2018-02-06 --until 2018-02-12 --lang en

,date,username,retweets,favorites,text,hashtags,id,permalink
90438,2018-02-12 07:56:00,Medici_Bank,0,0,"Since the Korean government enforced the real-name system on #cryptocurrency accounts, banks have only been providing fiat deposit services to the country’s four largest . #cryptoexchanges #Bitcoin",#cryptocurrency #cryptoexchanges #Bitcoin,962958452258738177,https://twitter.com/Medici_Bank/status/962958452258738177